@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * bang implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bang.css
 *
 * bang stylesheet
 *
 */
@font-face {
  font-family: 'Perdido';
  src: url("img/fonts/PerdidoDemo.woff2") format("woff2"), url("img/fonts/PerdidoDemo.woff") format("woff"), url("img/fonts/PerdidoDemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Palatino Linotype';
  src: url("PalatinoLinotype-Italic.woff2") format("woff2"), url("PalatinoLinotype-Italic.woff") format("woff"), url("PalatinoLinotype-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
div#board {
  width: 100%;
  min-height: 800px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  div#board div#hand {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    grid-row: 1;
    grid-column: 1 / span 6;
    height: 185px;
    display: flex;
    flex-flow: row; }
    div#board div#hand div#role-container {
      flex-grow: 0;
      width: 121.25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white; }
      div#board div#hand div#role-container div#role-card {
        height: 170px;
        width: 105.25px;
        background-image: url("img/roles.png");
        background-size: cover; }
      div#board div#hand div#role-container[data-role="0"] div#role-card {
        background-position: 0% center; }
      div#board div#hand div#role-container[data-role="1"] div#role-card {
        background-position: 33.3333333333% center; }
      div#board div#hand div#role-container[data-role="2"] div#role-card {
        background-position: 66.6666666667% center; }
      div#board div#hand div#role-container[data-role="3"] div#role-card {
        background-position: 100% center; }
    div#board div#hand div#hand-cards {
      flex-grow: 1;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center; }
  div#board .bang-player, div#board #table {
    display: flex;
    flex-flow: row;
    align-items: center;
    grid-row-end: span 2;
    grid-column-end: span 2;
    max-height: 190px;
    min-height: 190px; }
  div#board[data-players="4"] #table {
    grid-column-start: 3;
    grid-row-start: 4; }
  div#board[data-players="4"] .bang-player[data-no="0"] {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-content: center; }
  div#board[data-players="4"] .bang-player[data-no="1"] {
    grid-column-start: 5;
    grid-row-start: 4;
    justify-content: flex-start; }
  div#board[data-players="4"] .bang-player[data-no="2"] {
    grid-column-start: 3;
    grid-row-start: 6;
    justify-content: center; }
  div#board[data-players="4"] .bang-player[data-no="3"] {
    grid-column-start: 1;
    grid-row-start: 4;
    justify-content: flex-end; }
  div#board[data-players="5"] #table {
    grid-column-start: 3;
    grid-row-start: 3; }
  div#board[data-players="5"] .bang-player[data-no="0"] {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-content: center; }
  div#board[data-players="5"] .bang-player[data-no="1"] {
    grid-column-start: 5;
    grid-row-start: 4;
    justify-content: flex-start; }
  div#board[data-players="5"] .bang-player[data-no="2"] {
    grid-column-start: 4;
    grid-row-start: 6;
    justify-content: center; }
  div#board[data-players="5"] .bang-player[data-no="3"] {
    grid-column-start: 2;
    grid-row-start: 6;
    justify-content: center; }
  div#board[data-players="5"] .bang-player[data-no="4"] {
    grid-column-start: 1;
    grid-row-start: 4;
    justify-content: flex-end; }
  div#board #table {
    justify-content: center; }
    div#board #table #table-container {
      width: 242.5px;
      height: 185px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      border: 1px solid rgba(50, 50, 50, 0.8);
      box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.8);
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-around; }
      div#board #table #table-container #deck, div#board #table #table-container #discard {
        width: 106.25px;
        height: 170px; }
      div#board #table #table-container #deck {
        background-image: url("img/cardback.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 7px; }
      div#board #table #table-container #discard div.bangtim-card {
        margin: 0px; }
  div#board .bang-player .bang-player-container {
    width: 96%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(50, 50, 50, 0.8);
    box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.8);
    display: flex; }
    div#board .bang-player .bang-player-container .player-inplay {
      flex-grow: 1; }
    div#board .bang-player .bang-player-container .player-info {
      position: relative;
      width: 113.266509434px;
      height: 100%;
      background-image: url("img/card_borders.png");
      background-size: cover;
      border-left: 1px solid rgba(50, 50, 50, 0.8);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      div#board .bang-player .bang-player-container .player-info .player-character-name {
        font-family: "Perdido";
        width: 100%;
        max-height: 22px;
        margin-top: 11px;
        text-align: center;
        font-size: 15px;
        transform: scale(0.8, 1.3);
        transform-origin: top center; }
      div#board .bang-player .bang-player-container .player-info .player-character-background {
        width: 90.2122641509px;
        height: 89.25px;
        margin: 5px auto;
        background-image: url("img/card_characters.jpg");
        background-size: cover; }
      div#board .bang-player .bang-player-container .player-info[data-character="0"] .player-character-background {
        background-position: 0% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="1"] .player-character-background {
        background-position: 6.6666666667% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="2"] .player-character-background {
        background-position: 13.3333333333% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="3"] .player-character-background {
        background-position: 20% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="4"] .player-character-background {
        background-position: 26.6666666667% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="5"] .player-character-background {
        background-position: 33.3333333333% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="6"] .player-character-background {
        background-position: 40% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="7"] .player-character-background {
        background-position: 46.6666666667% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="8"] .player-character-background {
        background-position: 53.3333333333% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="9"] .player-character-background {
        background-position: 60% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="10"] .player-character-background {
        background-position: 66.6666666667% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="11"] .player-character-background {
        background-position: 73.3333333333% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="12"] .player-character-background {
        background-position: 80% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="13"] .player-character-background {
        background-position: 86.6666666667% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="14"] .player-character-background {
        background-position: 93.3333333333% center; }
      div#board .bang-player .bang-player-container .player-info[data-character="15"] .player-character-background {
        background-position: 100% center; }
      div#board .bang-player .bang-player-container .player-info .player-name {
        text-align: center; }
      div#board .bang-player .bang-player-container .player-info .player-cards {
        text-align: center; }
        div#board .bang-player .bang-player-container .player-info .player-cards .player-hand-card {
          display: inline-block;
          width: 22px;
          height: 22px;
          background-image: url("img/cards.svg");
          background-size: contain;
          background-repeat: no-repeat;
          vertical-align: bottom; }
      div#board .bang-player .bang-player-container .player-info .player-bullets {
        position: absolute;
        width: 30px;
        right: -8px;
        top: 40px; }
        div#board .bang-player .bang-player-container .player-info .player-bullets .bullet {
          width: 35px;
          height: 13px;
          background-image: url("img/bullet.png");
          background-size: cover;
          margin: 1px 0px;
          transform: rotate(13deg);
          background-position: 0% 100%; }
      div#board .bang-player .bang-player-container .player-info .player-star {
        display: none;
        position: absolute;
        top: -17px;
        right: -12px;
        width: 30px;
        height: 34px;
        background-image: url("img/sheriff.svg");
        background-size: cover; }
  div#board .bang-player[data-role="0"] .bang-player-container .player-info .player-star {
    display: block; }
  div#board .bang-player[data-max-bullets="3"] .bang-player-container .player-info .player-bullets .bullet:nth-child(4) {
    display: none; }
  div#board .bang-player[data-max-bullets="3"] .bang-player-container .player-info .player-bullets .bullet:nth-child(5) {
    display: none; }
  div#board .bang-player[data-max-bullets="3"] .bang-player-container .player-info .player-bullets .bullet:nth-child(6) {
    display: none; }
  div#board .bang-player[data-max-bullets="4"] .bang-player-container .player-info .player-bullets .bullet:nth-child(5) {
    display: none; }
  div#board .bang-player[data-max-bullets="4"] .bang-player-container .player-info .player-bullets .bullet:nth-child(6) {
    display: none; }
  div#board .bang-player[data-max-bullets="5"] .bang-player-container .player-info .player-bullets .bullet:nth-child(6) {
    display: none; }
  div#board .bang-player[data-max-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(7) {
    display: none; }
  div#board .bang-player[data-max-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(6) {
    display: none; }
  div#board .bang-player[data-bullets="0"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="0"] .bang-player-container .player-info .player-bullets .bullet:nth-child(0) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="1"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="2"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="2"] .bang-player-container .player-info .player-bullets .bullet:nth-child(2) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="3"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="3"] .bang-player-container .player-info .player-bullets .bullet:nth-child(2) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="3"] .bang-player-container .player-info .player-bullets .bullet:nth-child(3) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="4"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="4"] .bang-player-container .player-info .player-bullets .bullet:nth-child(2) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="4"] .bang-player-container .player-info .player-bullets .bullet:nth-child(3) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="4"] .bang-player-container .player-info .player-bullets .bullet:nth-child(4) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="5"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="5"] .bang-player-container .player-info .player-bullets .bullet:nth-child(2) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="5"] .bang-player-container .player-info .player-bullets .bullet:nth-child(3) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="5"] .bang-player-container .player-info .player-bullets .bullet:nth-child(4) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="5"] .bang-player-container .player-info .player-bullets .bullet:nth-child(5) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(1) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(2) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(3) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(4) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(5) {
    background-position: 0 0; }
  div#board .bang-player[data-bullets="6"] .bang-player-container .player-info .player-bullets .bullet:nth-child(6) {
    background-position: 0 0; }
  div#board .bang-player[data-hand="0"] .player-cards .player-handcount::before {
    content: "0"; }
  div#board .bang-player[data-hand="1"] .player-cards .player-handcount::before {
    content: "1"; }
  div#board .bang-player[data-hand="2"] .player-cards .player-handcount::before {
    content: "2"; }
  div#board .bang-player[data-hand="3"] .player-cards .player-handcount::before {
    content: "3"; }
  div#board .bang-player[data-hand="4"] .player-cards .player-handcount::before {
    content: "4"; }
  div#board .bang-player[data-hand="5"] .player-cards .player-handcount::before {
    content: "5"; }
  div#board .bang-player[data-hand="6"] .player-cards .player-handcount::before {
    content: "6"; }
  div#board .bang-player[data-hand="7"] .player-cards .player-handcount::before {
    content: "7"; }
  div#board .bang-player[data-hand="8"] .player-cards .player-handcount::before {
    content: "8"; }
  div#board .bang-player[data-hand="9"] .player-cards .player-handcount::before {
    content: "9"; }
  div#board .bang-player[data-hand="10"] .player-cards .player-handcount::before {
    content: "10"; }
  div#board .bang-player[data-bullets="0"] .player-cards .player-maxhand::before {
    content: "0"; }
  div#board .bang-player[data-bullets="1"] .player-cards .player-maxhand::before {
    content: "1"; }
  div#board .bang-player[data-bullets="2"] .player-cards .player-maxhand::before {
    content: "2"; }
  div#board .bang-player[data-bullets="3"] .player-cards .player-maxhand::before {
    content: "3"; }
  div#board .bang-player[data-bullets="4"] .player-cards .player-maxhand::before {
    content: "4"; }
  div#board .bang-player[data-bullets="5"] .player-cards .player-maxhand::before {
    content: "5"; }
  div#board .bang-player[data-bullets="6"] .player-cards .player-maxhand::before {
    content: "6"; }
  div#board .bang-player[data-bullets="7"] .player-cards .player-maxhand::before {
    content: "7"; }
  div#board .bang-player[data-bullets="8"] .player-cards .player-maxhand::before {
    content: "8"; }
  div#board .bang-player[data-bullets="9"] .player-cards .player-maxhand::before {
    content: "9"; }
  div#board .bang-player[data-bullets="10"] .player-cards .player-maxhand::before {
    content: "10"; }
  div#board .bang-player[data-bullets="0"][data-hand="1"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="2"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="3"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="4"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="5"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="6"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="0"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="2"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="3"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="4"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="5"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="6"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="1"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="3"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="4"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="5"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="6"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="2"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="4"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="5"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="6"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="3"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="4"][data-hand="5"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="4"][data-hand="6"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="4"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="4"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="4"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="4"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="5"][data-hand="6"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="5"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="5"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="5"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="5"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="6"][data-hand="7"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="6"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="6"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="6"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="7"][data-hand="8"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="7"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="7"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="8"][data-hand="9"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="8"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="9"][data-hand="10"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="10"][data-hand="11"] .player-cards {
    color: red; }
  div#board .bang-player[data-bullets="10"][data-hand="10"] .player-cards {
    color: red; }

div.bang-card-tooltip div.bang-card-tooltip-sizing {
  width: 212.5px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center; }
  div.bang-card-tooltip div.bang-card-tooltip-sizing div.bang-card {
    transform: scale(2); }

div.bang-card {
  position: relative;
  width: 106.25px;
  height: 170px;
  margin: 5px;
  background-image: url("img/card_borders.png");
  background-size: cover; }
  div.bang-card.unselectable {
    opacity: 0.5;
    cursor: not-allowed; }
  div.bang-card.selectable {
    cursor: pointer; }
    div.bang-card.selectable:hover {
      transform: scale(1.05);
      transform-origin: center center; }
  div.bang-card.selected {
    transform: scale(1.05);
    transform-origin: center center; }
  div.bang-card[data-type="5"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="6"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="7"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="8"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="9"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="10"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="11"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="12"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="13"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="14"] {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="15"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="16"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="17"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="18"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="19"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="20"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="21"] {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="0"] {
    background-position: 100% center; }
  div.bang-card[data-type="1"] {
    background-position: 100% center; }
  div.bang-card[data-type="2"] {
    background-position: 100% center; }
  div.bang-card[data-type="3"] {
    background-position: 100% center; }
  div.bang-card[data-type="4"] {
    background-position: 100% center; }
  div.bang-card .card-name {
    position: absolute;
    top: 10.2px;
    width: 100%;
    height: 34px;
    text-align: center;
    font-family: "Perdido";
    font-size: 17.85px;
    letter-spacing: -1px;
    transform: scale(0.8, 1.3);
    transform-origin: top center; }
  div.bang-card .card-background {
    position: absolute;
    top: 35.7px;
    left: 8.5px;
    width: 89.25px;
    height: 126.65px;
    background-image: url("img/card_backgrounds.jpg");
    background-size: cover; }
  div.bang-card[data-type="0"] .card-background {
    background-position: 0% center; }
  div.bang-card[data-type="1"] .card-background {
    background-position: 4.7619047619% center; }
  div.bang-card[data-type="2"] .card-background {
    background-position: 9.5238095238% center; }
  div.bang-card[data-type="3"] .card-background {
    background-position: 14.2857142857% center; }
  div.bang-card[data-type="4"] .card-background {
    background-position: 19.0476190476% center; }
  div.bang-card[data-type="5"] .card-background {
    background-position: 23.8095238095% center; }
  div.bang-card[data-type="6"] .card-background {
    background-position: 28.5714285714% center; }
  div.bang-card[data-type="7"] .card-background {
    background-position: 33.3333333333% center; }
  div.bang-card[data-type="8"] .card-background {
    background-position: 38.0952380952% center; }
  div.bang-card[data-type="9"] .card-background {
    background-position: 42.8571428571% center; }
  div.bang-card[data-type="10"] .card-background {
    background-position: 47.619047619% center; }
  div.bang-card[data-type="11"] .card-background {
    background-position: 52.380952381% center; }
  div.bang-card[data-type="12"] .card-background {
    background-position: 57.1428571429% center; }
  div.bang-card[data-type="13"] .card-background {
    background-position: 61.9047619048% center; }
  div.bang-card[data-type="14"] .card-background {
    background-position: 66.6666666667% center; }
  div.bang-card[data-type="15"] .card-background {
    background-position: 71.4285714286% center; }
  div.bang-card[data-type="16"] .card-background {
    background-position: 76.1904761905% center; }
  div.bang-card[data-type="17"] .card-background {
    background-position: 80.9523809524% center; }
  div.bang-card[data-type="18"] .card-background {
    background-position: 85.7142857143% center; }
  div.bang-card[data-type="19"] .card-background {
    background-position: 90.4761904762% center; }
  div.bang-card[data-type="20"] .card-background {
    background-position: 95.2380952381% center; }
  div.bang-card[data-type="21"] .card-background {
    background-position: 100% center; }
  div.bang-card .card-copy {
    position: absolute;
    bottom: -3px;
    left: 4px;
    font-size: 17px;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white; }
    div.bang-card .card-copy .card-copy-color {
      margin-left: -2px; }
    div.bang-card .card-copy .card-copy-color::before {
      font-size: 21.25px; }
    div.bang-card .card-copy .card-copy-color[data-color="D"]::before {
      content: "♦";
      color: red; }
    div.bang-card .card-copy .card-copy-color[data-color="H"]::before {
      content: "♥";
      color: red; }
    div.bang-card .card-copy .card-copy-color[data-color="S"]::before {
      content: "♠";
      color: black; }
    div.bang-card .card-copy .card-copy-color[data-color="C"]::before {
      content: "♣";
      color: black; }

/*# sourceMappingURL=bang.css.map */
