@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * bang implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * bang.css
 *
 * bang stylesheet
 *
 */
@font-face {
  font-family: 'Perdido';
  src: url("img/fonts/PerdidoDemo.woff2") format("woff2"), url("img/fonts/PerdidoDemo.woff") format("woff"), url("img/fonts/PerdidoDemo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
div#board {
  width: 100%;
  min-height: 800px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr); }
  div#board div#hand {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    grid-row: 1;
    grid-column: 1 / span 6;
    height: 210px;
    display: flex;
    flex-flow: row; }
  div#board .bang-player {
    display: flex;
    flex-flow: row;
    align-items: center;
    grid-row-end: span 2;
    grid-column-end: span 2; }
  div#board[data-players="4"] .bang-player[data-no="0"] {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-content: center; }
  div#board[data-players="4"] .bang-player[data-no="1"] {
    grid-column-start: 5;
    grid-row-start: 3;
    justify-content: flex-start; }
  div#board[data-players="4"] .bang-player[data-no="2"] {
    grid-column-start: 3;
    grid-row-start: 4;
    justify-content: center; }
  div#board[data-players="4"] .bang-player[data-no="3"] {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-content: flex-end; }
  div#board[data-players="5"] .bang-player[data-no="0"] {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-content: center; }
  div#board[data-players="5"] .bang-player[data-no="1"] {
    grid-column-start: 5;
    grid-row-start: 3;
    justify-content: flex-start; }
  div#board[data-players="5"] .bang-player[data-no="2"] {
    grid-column-start: 4;
    grid-row-start: 5;
    justify-content: center; }
  div#board[data-players="5"] .bang-player[data-no="3"] {
    grid-column-start: 2;
    grid-row-start: 5;
    justify-content: center; }
  div#board[data-players="5"] .bang-player[data-no="4"] {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-content: flex-end; }
  div#board .bang-player-container {
    width: 96%;
    height: 96%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.8);
    box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.8);
    display: flex; }
    div#board .bang-player-container .player-inplay {
      flex-grow: 1; }
    div#board .bang-player-container .player-info {
      position: relative;
      width: 123px;
      height: 100%;
      background-image: url("img/card_borders.png");
      background-size: cover; }
      div#board .bang-player-container .player-info .player-character-name {
        font-family: "Perdido";
        width: 100%;
        margin-top: 13px;
        text-align: center;
        font-size: 16px; }
      div#board .bang-player-container .player-info .player-bullets {
        position: absolute;
        width: 30px;
        right: -3px;
        top: 40px; }
        div#board .bang-player-container .player-info .player-bullets .bullet {
          width: 35px;
          height: 13px;
          background-image: url("img/bullet.png");
          background-size: cover;
          margin: 1px 0px;
          transform: rotate(13deg);
          background-position: 0% 100%; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="3"] .bullet:nth-child(4) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="3"] .bullet:nth-child(5) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="3"] .bullet:nth-child(6) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="4"] .bullet:nth-child(5) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="4"] .bullet:nth-child(6) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="5"] .bullet:nth-child(6) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="6"] .bullet:nth-child(7) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-max-bullets="6"] .bullet:nth-child(6) {
          display: none; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="0"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="0"] .bullet:nth-child(0) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="1"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="2"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="2"] .bullet:nth-child(2) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="3"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="3"] .bullet:nth-child(2) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="3"] .bullet:nth-child(3) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="4"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="4"] .bullet:nth-child(2) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="4"] .bullet:nth-child(3) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="4"] .bullet:nth-child(4) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="5"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="5"] .bullet:nth-child(2) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="5"] .bullet:nth-child(3) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="5"] .bullet:nth-child(4) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="5"] .bullet:nth-child(5) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="6"] .bullet:nth-child(1) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="6"] .bullet:nth-child(2) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="6"] .bullet:nth-child(3) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="6"] .bullet:nth-child(4) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="6"] .bullet:nth-child(5) {
          background-position: 0 0; }
        div#board .bang-player-container .player-info .player-bullets[data-bullets="6"] .bullet:nth-child(6) {
          background-position: 0 0; }
  div#board div.bang-card {
    position: relative;
    width: 125px;
    height: 200px;
    margin: 5px;
    background-image: url("img/card_borders.png");
    background-size: cover; }
    div#board div.bang-card[data-type="5"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="6"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="7"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="8"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="9"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="10"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="11"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="12"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="13"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="14"] {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="15"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="16"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="17"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="18"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="19"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="20"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="21"] {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="0"] {
      background-position: 100% center; }
    div#board div.bang-card[data-type="1"] {
      background-position: 100% center; }
    div#board div.bang-card[data-type="2"] {
      background-position: 100% center; }
    div#board div.bang-card[data-type="3"] {
      background-position: 100% center; }
    div#board div.bang-card[data-type="4"] {
      background-position: 100% center; }
    div#board div.bang-card .card-name {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 105px;
      height: 40px;
      text-align: center;
      font-family: "Perdido";
      font-size: 24px;
      letter-spacing: -1.5px; }
    div#board div.bang-card .card-background {
      position: absolute;
      top: 34px;
      left: 10px;
      width: 105px;
      height: 105px;
      background-image: url("img/card_backgrounds.jpg");
      background-size: cover; }
    div#board div.bang-card[data-type="0"] .card-background {
      background-position: 0% center; }
    div#board div.bang-card[data-type="1"] .card-background {
      background-position: 4.7619047619% center; }
    div#board div.bang-card[data-type="2"] .card-background {
      background-position: 9.5238095238% center; }
    div#board div.bang-card[data-type="3"] .card-background {
      background-position: 14.2857142857% center; }
    div#board div.bang-card[data-type="4"] .card-background {
      background-position: 19.0476190476% center; }
    div#board div.bang-card[data-type="5"] .card-background {
      background-position: 23.8095238095% center; }
    div#board div.bang-card[data-type="6"] .card-background {
      background-position: 28.5714285714% center; }
    div#board div.bang-card[data-type="7"] .card-background {
      background-position: 33.3333333333% center; }
    div#board div.bang-card[data-type="8"] .card-background {
      background-position: 38.0952380952% center; }
    div#board div.bang-card[data-type="9"] .card-background {
      background-position: 42.8571428571% center; }
    div#board div.bang-card[data-type="10"] .card-background {
      background-position: 47.619047619% center; }
    div#board div.bang-card[data-type="11"] .card-background {
      background-position: 52.380952381% center; }
    div#board div.bang-card[data-type="12"] .card-background {
      background-position: 57.1428571429% center; }
    div#board div.bang-card[data-type="13"] .card-background {
      background-position: 61.9047619048% center; }
    div#board div.bang-card[data-type="14"] .card-background {
      background-position: 66.6666666667% center; }
    div#board div.bang-card[data-type="15"] .card-background {
      background-position: 71.4285714286% center; }
    div#board div.bang-card[data-type="16"] .card-background {
      background-position: 76.1904761905% center; }
    div#board div.bang-card[data-type="17"] .card-background {
      background-position: 80.9523809524% center; }
    div#board div.bang-card[data-type="18"] .card-background {
      background-position: 85.7142857143% center; }
    div#board div.bang-card[data-type="19"] .card-background {
      background-position: 90.4761904762% center; }
    div#board div.bang-card[data-type="20"] .card-background {
      background-position: 95.2380952381% center; }
    div#board div.bang-card[data-type="21"] .card-background {
      background-position: 100% center; }

/*# sourceMappingURL=bang.css.map */
