div#board {
  div.bang-character-tooltip {
    div.bang-character-tooltip-sizing {
      width:2*$cardW * 113 / 106;
      height:2*($cardH + 10px);
      display:flex;
      justify-content: center;
      align-items: center;

      div.player-info {
        transform:scale(2);
      }
    }
  }

  .bang-player {
    .player-info {
      position:relative;
      min-width:$cardW / 106 * 113;
      width:$cardW / 106 * 113;
      height:$cardH + 10px;
      background-image:url("img/card_borders.png");
      background-size:cover;
      border-left:1px solid $darkgray;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      .player-character-name {
        font-family: "Perdido";
        width: 100%;
        max-height:22px;
        margin-top: 11px;
        text-align: center;
        font-size: 15px;
        transform: scale(0.8,1.3);
        transform-origin: top center;
      }

      .player-character-background {
        width: $cardW / 106 * 90;
        height: $cardH * 105 / 200;
        margin: 5px auto;
        background-image:url("img/card_characters.jpg");
        background-size:cover;
        display:flex;
        justify-content: center;
        align-items: center;

        .player-character-hourglass {
          width: 50%;
          height: 50%;
          background-image: url("img/hourglass.gif");
          background-size: 75%;
          background-color: rgba(255,255,255,0.7);
          background-position: center center;
          border-radius: 10px;
          background-repeat: no-repeat;
        }
      }
      @for $i from 0 through $numberOfCharacters {
        &[data-character="#{$i}"] .player-character-background { background-position:$i * 100% / $numberOfCharacters center; }
      }
    }

    &.inactive .player-character-background .player-character-hourglass {
      display:none;
    }
  }
}

.bang-player {
  &.turn .bang-player-container {
//      border:1px solid blue;
  }

  &.inactive {
    opacity:0.6;
  }

  &.selectable {
    opacity:1;
    .player-info {
      cursor:pointer;
      animation:borderBlink 0.9s infinite;
      &:hover {
        animation:none;
        border:1px solid red;
      }

      @keyframes borderBlink {
        0%   { border: 1px dashed white; }
        49%  { border: 1px dashed white; }
        50%  { border: 1px dashed black; }
        99% { border: 1px dashed black; }
        100% { border: 1px dashed white; }
      }
    }
  }

  &.eliminated {
    .bang-player-container {
      width:$cardW / 106 * 113;

      .player-character-background {
        background-image:url("img/tombstone.svg");
        background-size: 80%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }


  .bang-player-container {
    width:96%;
    height:$cardH + 10px;
    background-color:$transparentWhite;
    border-radius:5px;
    border:1px solid $darkgray;
    box-shadow: 1px 1px 5px $darkgray;
    display:flex;
    transition:width 1s;

    .player-inplay {
      width: calc(100% - #{$cardW / 106 * 113 + 2});
      flex-grow:1;
      display:flex;
      flex-flow:row;
      overflow-x: auto;
      overflow-y: hidden;
      height: 107%;
      position:relative;
      z-index:2;
    }

    .player-info {
      .player-name {
        text-align: center;
      }

      .player-bullets {
        position:absolute;
        width:30px;
        right:-8px;
        top:40px;
      }

      .player-star {
        display:none;
        position:absolute;
        top: -17px;
        right: -18px;
        width: 34px;
        height: 34px;
        background-image:url("img/role-icons.png");
        background-size:cover;
        background-position: 66.66% 0%;
      }
    }
  }
  &[data-role="0"] .bang-player-container .player-info .player-star { display:block; }
}

.bang-player, .bang-player-board {
  .player-cards {
    text-align: center;

    .player-hand-card {
      display:inline-block;
      width: 22px;
      height: 22px;
      background-image: url("img/cards.svg");
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: bottom;
    }
  }

  .bullet {
    width: 35px;
    height: 13px;
    background-image: url("img/bullet.png");
    background-size: cover;
    margin: 1px 0px;
    transform: rotate(13deg);
    background-position:0% 100%;

    &.pulse {
      animation-duration: 1.8s;
      animation-name: pulsate;
      animation-iteration-count: 3;
    }
  }


  @for $maxBullets from 1 through 6 {
    @for $n from $maxBullets + 1 through 6 {
      &[data-max-bullets="#{$maxBullets}"] .player-bullets .bullet:nth-child(#{$n}) { display:none; }
    }
  }

  @for $bullets from 0 through 6 {
    @for $n from 0 through $bullets {
      &[data-bullets="#{$bullets}"] .bullet:nth-child(#{$n}) { background-position:0 0; }
    }
  }

  @for $i from 0 through 20 {
    &[data-hand="#{$i}"] .player-cards .player-handcount::before { content:"#{$i}"; }
  }
  @for $i from 0 through 7 {
    &[data-bullets="#{$i}"] .player-cards .player-maxhand::before { content:"#{$i}"; }
  }

  @for $i from 0 through 7 {
    @for $j from $i + 1 through 20 {
      &[data-bullets="#{$i}"][data-hand="#{$j}"] .player-cards { color:red; }
    }
  }
}
