div#board {
  #table {
    justify-content:center;

    #table-container {
      width:2*$cardW + 30px;
      background-color:$transparentWhite;
      border-radius:5px;
      border:1px solid $darkgray;
      box-shadow: 1px 1px 5px $darkgray;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-around;

      .cards-row {
        width: 100%;
        display:flex;
        flex-flow:row;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      #deck, #discard, #eventNext, #eventActive {
        width:$cardW;
        height:$cardH;
        position:relative;

        &.selectable {
          cursor:pointer;
          animation:borderBlink 0.9s infinite;
        }
      }

      #deck {
        background-image:url("img/cardback.jpg");
        background-size:cover;
        background-position: center center;
        border-radius:7px;
        font-size:30px;
        text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
        display:flex;
        align-items: center;
        justify-content: center;
      }

      #discard div.bang-card, #eventActive div.bang-card {
        margin:0px;
        opacity:1 !important;
        position:absolute;
        top:0;
        left:0;
        transform-origin: -7% 50%;
      }

      #eventNext {
        display:flex;
        align-items: center;
        justify-content: center;
      }

      #eventNext div.bang-card{
        margin:0px;
        position:absolute;
        top:0;
        left:0;
        transform-origin: -7% 50%;
        opacity: 0.5;
      }

      #eventsDeck {
        opacity:1 !important;
        font-size:30px;
        text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
        z-index: 2;
      }
    }
  }
}
