$transparentWhite:rgba(255,255,255,0.5);
$darkgray: rgba(50,50,50, 0.8);

$numberOfSymbols:15;
$numberOfCharacters:15;
$numberOfCards:21;
$numberOfEvents:29;
$guns: 0,1,2,3,4;
$actions: 5,6,7,8,9,10,11,12,13,14,15,16;
$equipments: 17,18,19,20,21;
$highNoonEvents: 100,101,102,103,104,105,106,107,108,109,110,111,112;
$fistfulEvents: 115,116,117,118,119,120,121,122,123,124,125,126,127,128,129;
$cardH: 170px;
$cardW: $cardH / 200 * 125;

$suits:(
  'C':('icon':'♣','color':black),
  'D':('icon':'♦','color':red),
  'H':('icon':'♥','color':red),
  'S':('icon':'♠','color':black)
);

$layoutBig:(
  2:(
    "table":("col" : 5, "row" : 4, "align" : center),
    0:("col" : 5, "row" : 2, "align": center),
    1:("col" : 5, "row" : 6, "align": center),
  ),
  3:(
    "table":("col" : 5, "row" : 4, "align" : center),
    0:("col" : 5, "row" : 2, "align": center),
    1:("col" : 9, "row" : 4, "align": left),
    2:("col" : 1, "row" : 4, "align": right),
  ),
  4:(
    "table":("col" : 5, "row" : 4, "align" : center),
    0:("col" : 5, "row" : 2, "align": center),
    1:("col" : 9, "row" : 4, "align": left),
    2:("col" : 5, "row" : 6, "align": center),
    3:("col" : 1, "row" : 4, "align": right),
  ),
  5:(
    "table":("col" : 5, "row" : 4, "align" : center),
    0:("col" : 5, "row" : 2, "align": center),
    1:("col" : 9, "row" : 4, "align": left),
    2:("col" : 7, "row" : 6, "align": center),
    3:("col" : 3, "row" : 6, "align": center),
    4:("col" : 1, "row" : 4, "align": right),
  ),
  6:(
    "table":("col" : 5, "row" : 5, "align" : center),
    0:("col" : 5, "row" : 2, "align": center),
    1:("col" : 9, "row" : 4, "align": left),
    2:("col" : 9, "row" : 6, "align": left),
    3:("col" : 5, "row" : 8, "align": center),
    4:("col" : 1, "row" : 6, "align": right),
    5:("col" : 1, "row" : 4, "align": right),
  ),
  7:(
    "table":("col" : 5, "row" : 5, "align" : center),
    0:("col" : 5, "row" : 2, "align": center),
    1:("col" : 9, "row" : 4, "align": left),
    2:("col" : 9, "row" : 6, "align": left),
    3:("col" : 7, "row" : 8, "align": center),
    4:("col" : 3, "row" : 8, "align": center),
    5:("col" : 1, "row" : 6, "align": right),
    6:("col" : 1, "row" : 4, "align": right),
  )
);


$layoutSmall:(
  2:(
    "table":("col" : 8, "row" : 2, "align" : center),
    0:("col" : 2, "row" : 2, "align": left),
    1:("col" : 4, "row" : 4, "align": center),
  ),
  3:(
    "table":("col" : 8, "row" : 2, "align" : right),
    0:("col" : 2, "row" : 2, "align": left),
    1:("col" : 7, "row" : 4, "align": right),
    2:("col" : 1, "row" : 4, "align": left),
  ),
  4:(
    "table":("col" : 8, "row" : 2, "align" : right),
    0:("col" : 2, "row" : 2, "align": left),
    1:("col" : 7, "row" : 4, "align": right),
    2:("col" : 4, "row" : 6, "align": center),
    3:("col" : 1, "row" : 4, "align": left),
  ),
  5:(
    "table":("col" : 8, "row" : 2, "align" : center),
    0:("col" : 2, "row" : 2, "align": left),
    1:("col" : 7, "row" : 6, "align": right),
    2:("col" : 7, "row" : 8, "align": center),
    3:("col" : 1, "row" : 8, "align": center),
    4:("col" : 1, "row" : 6, "align": left),
  ),
  6:(
    "table":("col" : 8, "row" : 2, "align" : center),
    0:("col" : 2, "row" : 2, "align": left),
    1:("col" : 7, "row" : 6, "align": center),
    2:("col" : 7, "row" : 8, "align": center),
    3:("col" : 4, "row" : 10, "align": center),
    4:("col" : 1, "row" : 8, "align": center),
    5:("col" : 1, "row" : 6, "align": center),
  ),
  7:(
    "table":("col" : 8, "row" : 2, "align" : center),
    0:("col" : 2, "row" : 2, "align": left),
    1:("col" : 7, "row" : 6, "align": right),
    2:("col" : 7, "row" : 8, "align": right),
    3:("col" : 7, "row" : 10, "align": center),
    4:("col" : 1, "row" : 10, "align": center),
    5:("col" : 1, "row" : 8, "align": left),
    6:("col" : 1, "row" : 6, "align": left),
  )

);
